#result{
    font-family: Helvetica;
}

body{
    background-color:rgb(15, 15, 15);
}

.digit{
    border-radius: 1000px;
    background-color: rgb(247, 147, 17);
    font-family: Varela Round, Arial;
    height: 150px;
    width: 150px;
    border: 5px, solid, rgb(21, 21, 21);
    font-size: 100px;
}

.digit:hover{
    background-color:rgb(235, 71, 46);
    border: 5px, solid, rgb(237, 237, 237)
}

.oper{
    border-radius: 1000px;
    background-color: rgb(247, 147, 17);
    font-family: Varela Round, Arial;
    height: 150px;
    width: 150px;
    border: 5px, solid, rgb(21, 21, 21);
    font-size: 100px;
}

.oper:hover{
    background-color:rgb(235, 71, 46);
    border: 5px, solid, rgb(237, 237, 237)
}
.equal{
    border-radius: 1000px;
    background-color: rgb(247, 147, 17);
    font-family: Varela Round, Arial;
    height: 150px;
    width: 150px;
    border: 5px, solid, rgb(21, 21, 21);
    font-size: 100px;
}

.equal:hover{
    background-color:rgb(235, 71, 46);
    border: 5px, solid, rgb(237, 237, 237)
}

.clear{
    border-radius: 1000px;
    background-color: rgb(247, 147, 17);
    font-family: Varela Round, Arial;
    height: 150px;
    width: 150px;
    border: 5px, solid, rgb(21, 21, 21);
    font-size: 100px;
}

.clear:hover{
    background-color:rgb(235, 71, 46);
    border: 5px, solid, rgb(237, 237, 237)
}

#CalcBox{
    background-color: rgb(30, 30, 30);
    height: 620x;  
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%; 
    padding: 30px;
    border-radius:45px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px 15px;
}

#ResultBox{
    color:aliceblue;
    font-family:Helvetica, Arial;
    font-size: 50px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(30, 30, 30);
    height: 250px;
    width: 700px;
    padding: 30px;
    border-radius:45px;
}